*{
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;

}

main{
    display: block;
}

.one{
    display: flex;
    background-color:#181818;
    color:#EBE9EA;
    align-items: center;
    height: 60px;
    padding-top: 10px;
    justify-content: center;
    font-weight: 100;
}

.banner{
    background-color: transparent !important;
    height: 100% !important;
    display: block !important;

}

.two{
    display: flex;
    background-color: #EBE9EA;
    align-items: center;
    color:#181818;
    height: 60px;
    padding-top: 10px;   
    justify-content: center;
}

h1{
  font-size: 26px;
  font-weight: 800;
}

h2{
    font-weight: 800;
    font-size: 32px;
}

.main {
    display: flex;  
    color: #EBE9EA;
     padding: 120px;
     font-size: 18px;
     line-height: 1.8;
     align-items: center;
     justify-content: flex-start;
    background:
    linear-gradient(
      rgba(0,0,0,.6),rgba(0,0,0,.6)), url(img/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino\ 1.png) no-repeat;
    background-size: cover;
    opacity: 90%;
    height: 378px;
    
}

.offers{
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shelf{    
    padding: 50px;
    align-items: center;
    text-align: center;
    height: 100%;
}

.col{
    display: flex;
    background-color: #EBE9EA;
    height: 302px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px 20px 50px 0px;
    transition: all 0.4s;  
}

.col:hover{
    transform: scale(1.1);
    background-color: rgb(197, 197, 197);
    z-index: 1;
    
}

@media screen and (max-width:800px){

   .main{

    background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url(img/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino\ 1\ \(1\).png) no-repeat;
    background-size: 100%;

   }

   .offers{
       text-align: center;
   }

}



